html {
  /* font-size: 21px; */
  font-family: "Inconsolata", monospace;
}

body {
  background-color: rgb(33, 33, 33);
  color: #888888;
  width: 70%;
  margin: 0 auto;
}

p {
  font-size: 23px;
  margin: 0px auto;
  line-height: 30px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  width: 50%;
  margin: 10px auto;
  text-align: center;
}

li a {
  display: block;
  font-size: 1.3em;
  letter-spacing: 3px;
  color: #888888;
  text-decoration: none;
  width: 100%;
}

li a:hover {
  background-color: #121212;
  color: white;
}

a {
  text-decoration: none;
  color: #888888;
}
a:hover {
  background-color: #121212;
}

.seperator {
  border-left: 3px solid #888888;
}

#title {
  text-align: center;
  letter-spacing: 10px;
  font-size: 3.5em;
  background-color: #121212;
  margin: 2% auto;
  position: sticky;
}

#title:hover {
  background-color: #888888;
  color: #121212;
}

h5 {
  border-left: 4px solid #2052a8;
  font-size: 1.75em;
  padding-left: 4px;
  margin: 32px 0px 8px 12px;
  text-decoration: underline;
  text-transform: uppercase;
}

h5:hover {
  color: white;
}

.univ {
  text-decoration: underline;
  font-size: 1.5em;
  margin: 14px 0 7px 5%;
}

#address {
  font-size: 16px;
  text-align: center;
  letter-spacing: 5px;
  margin: 0px auto;
}

.ending {
  margin: 3%, 0px, 10%, 0px;
}

.media {
  margin: 10px auto;
}

.ow {
  display: flex;
  margin: 10px auto;
}

.game {
  display: inline;
  float: left;
  margin-right: 1%;
  margin-bottom: 5%;
  margin-top: 1%;
}

audio {
  height: 25px;
  width: 85%;
}
