body {
  color: white;
  background-color: #232323 !important;
}

.col {
  width: 40%;
  margin-left: 3%;
  margin-right: 3%;
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 3em;
  background-color: #121212 !important;
}

.container {
  max-width: 75%;
}

.blockquote-footer {
  color: white !important;
}
